/* popup.css */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #333;
  color: #f8f9fa;
  min-height: 10vh;
  margin: 0;
  width: 250px; /* Adjust the width as necessary */
}

/* Style for the toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 10px 0;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #555; /* Dark grey for the slider background */
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #f8f9fa; /* Light color for the slider knob */
  transition: .4s;
}

input:checked + .slider {
  background-color: #0d6efd; /* Bright color for the slider when active */
}

input:focus + .slider {
  box-shadow: 0 0 1px #0d6efd;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Style for URL block list */
.url-block-list {
  margin-top: 20px;
  width: 100%;
}

#blockList {
  list-style: none;
  padding: 0;
  width: 100%;
  max-height: 150px; /* Adjust height as necessary */
  overflow-y: auto;
  background: #424242; /* Dark color for the block list background */
  border-radius: 4px;
}

#blockList li {
  background: #424242;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f8f9fa;
}

#blockList li button {
  margin-left: 10px;
  cursor: pointer;
  background: none;
  border: none;
  color: #f8f9fa;
}

/* Style for the Add URL form */
.add-url-form {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-url-form input {
  padding: 5px;
  margin-right: 5px;
  width: calc(100% - 60px); /* Adjust width as necessary */
  color: #333; /* Dark text for readability */
  background: #f8f9fa; /* Light background for the input */
  border: 1px solid #555;
  border-radius: 4px;
}

.add-url-form button {
  padding: 5px 10px;
  color: #f8f9fa;
  background: #0d6efd;
  border: 1px solid #0a58ca;
  border-radius: 4px;
  cursor: pointer;
}
